<h2 class="m-3">Edit client</h2>
<div class="col-12">
    <div class="col-12 col-lg-3 col-md-3 mb-3 pe-lg-3 ps-lg-3 mb-3">
        <label for="exampleFormControlInput1" class="form-label">Upload Logo </label>
        <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="xyz">
    </div>
</div>
<div class="col-12 d-lg-flex mt-3 mb-3">
    <div class="col-12 col-lg-3 col-md-3 pe-lg-3 ps-lg-3">
        <label for="exampleFormControlInput1" class="form-label">Company name </label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="xyz">
    </div>
    <div class="col-12 col-lg-3 col-md-3  pe-lg-3">
        <label for="exampleFormControlInput1" class="form-label">Location</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" value="Chennai">
    </div>
    <div class="col-12 col-lg-3 col-md-3  pe-lg-3">
        <label for="exampleFormControlInput1" class="form-label">Account Manager</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="name@example.com">
    </div>
    <div class="col-12 col-lg-3 col-md-3  pe-lg-3">
        <label for="exampleFormControlInput1" class="form-label">Web Address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" value="name@example.com">
    </div>
</div>
<div class="col-lg-12 col-md-12 col-12 d-lg-flex d-md-flex mt-3 mb-3">
    <div class=" col-12 col-lg-3 col-md-3  pe-lg-3 ps-lg-3">
        <label for="Contact person" class="info-label mb-1">Contact person</label>
        <input type="text" class="form-control" id="contact-person" value="Hari" />
    </div>
    <div class="col-lg-3 col-md-3 col-12 pe-3">
        <label for="Position" class="info-label mb-1">Position</label>
        <input type="text" class="form-control" id="Position" value="Regional Manager" />
    </div>
    <div class="col-lg-3 col-md-3 col-12 pe-3">
        <label for="Phone Number" class="info-label mb-1">Phone Number</label>
        <input type="number" class="form-control" id="Phone Number" />
    </div>
    <div class="col-lg-3 col-md-3 col-12 pe-3">
        <label for="Email ID" class="info-label mb-1">Email ID</label>
        <input type="text" class="form-control" id="Email ID" value="XYZ.com" />
    </div>
</div>
<div class="col-12 d-lg-flex mb-3">
    <div class=" col-12 col-lg-6  ps-lg-3 pe-lg-3 ">
        <label for="Address" class="info-label mb-1">Address,</label>
        <input type="text" class="form-control" id="Address"  value="123,porur,chennai" />
    </div>
    <div class="col-12 col-lg-6 pe-lg-3 ">
        <label for="Address" class="info-label mb-1"> Billing Address</label>
        <input type="text" class="form-control" id="Billing Address"  value="123,porur,chennai" />
    </div>
</div>
<div class="col-12">
    <a class="text-decoration-none text-white btn btn-primary float-end" routerLink="/client-list/client-details" (click)="edit()">
        Submit
    </a>
</div>
