<div class="col-12 d-flex p-2">
    <div class="col-6">
        <h2>Client-details</h2>
    </div>
    <div class="col-6"><a class="text-decoration-none text-white btn btn-primary float-end " routerLink="./edit-client">
            edit client
        </a>
    </div>
</div>
<div class="col-12 bg-body-secondary p-3 d-lg-flex">
    <div class="col-lg-2 col-12">
<img src="assets/images/Rectangle 5543.png" alt="Company-logo" class="img-fluid p-lg-3 mb-3" >
    </div>
    <div class="col-10">
        <div class="col-12 d-lg-flex ps-lg-3">
            <div class="col-12 col-lg-3">
                <h6>Client Name </h6>
                <h6 >OHOH</h6></div>
            <div class="col-12 col-lg-3">
                <h6 >Email ID </h6>
                <h6 >Supportohoh.com</h6>
            </div>
            <div class="col-12 col-lg-3">
                <h6>Onboarding Date</h6>
                <h6 >00/00/2023</h6>
            </div>
            <div class="col-12 col-lg-3">
                <h6>Contact person </h6>
                <h6>Hari</h6>
            </div>
        </div>
        <div class="col-12 d-lg-flex mt-3  ps-lg-3">
            <div class="col-12 col-lg-3">
                <h6 class="">Phone Number</h6>
                <h6 class="info-label">93896 85236</h6></div>
            <div class="col-12 col-lg-3">
                <h6 class="">Client ID </h6>
                <h6 >C0001</h6>
            </div>
            <div class="col-12 col-lg-3">
                <h6 >Location</h6>
                <h6 >Singapore</h6>
            </div>
            <div class="col-12 col-lg-3">
                <h6 >Account Manager </h6>
                <h6>Ranjith</h6>
            </div>
        </div>
        <div class="col-12 mt-3  ps-lg-3">
            <h6 >Address</h6>
            <h6>72H Poorur ,Chennai ,600028 .</h6>
        </div>
    </div>
</div>