<h1 style="text-align: center;">Form builder</h1>
<form class="students-list" [formGroup]="forms" (ngSubmit)="handleSubmit()">
    <div>
        <input type="text" name="name" formControlName="name" placeholder="enter a name">
    </div>
    <div>
        <input type="email" name="email" formControlName="email" placeholder="enter a email">
    </div>
    <div>
        <input type="password" name="password" formControlName="password" placeholder="enter a password">
    </div>
    <div>
        <input type="date" name="dob" formControlName="dob" placeholder="Enter a dob">
    </div>
    <div>
        <input type="text" name="address" formArrayName="address" placeholder="Enter a address">
    </div>
    <div>
        <button>submit</button>
    </div>
</form>
